<div id="follow_form">
  <ng-container *ngIf="user?.current_user_following_user; else followButton">
    <form
      [attr.action]="'/relationships/' + id"
      accept-charset="UTF-8"
      data-remote="true"
      method="post"
      (ngSubmit)="handleUnfollow.emit($event)"
    >
      <input
        type="submit"
        name="commit"
        value="Unfollow"
        class="btn"
        data-disable-with="Unfollow"
      />
    </form>
  </ng-container>
  <ng-template #followButton>
    <form
      action="/relationships"
      accept-charset="UTF-8"
      data-remote="true"
      method="post"
      (ngSubmit)="handleFollow.emit($event)"
    >
      <input
        type="hidden"
        name="followed_id"
        id="followed_id"
        [value]="id"
      />
      <input
        type="submit"
        name="commit"
        value="Follow"
        class="btn btn-primary"
        data-disable-with="Follow"
      />
    </form>
  </ng-template>
</div>
