<div id="follow_form">
  <ng-container *ngIf="user?.current_user_following_user; else followButton">
    <form (submit)="handleUnfollow.emit($event)">
      <input
        type="submit"
        class="btn"
        [disabled]="isSubmitting"
        value="Unfollow"
      />
    </form>
  </ng-container>
  <ng-template #followButton>
    <form (submit)="handleFollow.emit($event)">
      <input
        type="hidden"
        name="followed_id"
        id="followed_id"
        [value]="id"
      />
      <input
        type="submit"
        class="btn btn-primary"
        [disabled]="isSubmitting"
        value="Follow"
      />
    </form>
  </ng-template>
</div>
