<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <img
          class="gravatar"
          [src]="'https://secure.gravatar.com/avatar/' + user?.gravatar_id + '?s=' + user?.size"
          alt="Example User"
          width="50"
          height="50"
        />
        {{ user?.name }}
      </h1>
    </section>
    <section class="stats">
      <div class="stats">
        <a [routerLink]="['/users', user?.id, 'following']" class="link-primary">
          <strong id="following" class="stat">
            {{ user?.following }}
          </strong>
          following
        </a>
        <a [routerLink]="['/users', user?.id, 'followers']" class="link-primary">
          <strong id="followers" class="stat">
            {{ user?.followers }}
          </strong>
          followers
        </a>
      </div>
    </section>
  </aside>

  <div class="col-md-8">
    <ng-container *ngIf="!isCurrentUser">
      <ng-container *ngIf="!isCurrentUser">
        <app-follow-form
          [id]="id"
          [user]="user"
          (handleUnfollow)="handleUnfollow($event)"
          (handleFollow)="handleFollow($event)"
        ></app-follow-form>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="microposts.length > 0">
      <h3>{{ 'Microposts (' + totalCount + ')' }}</h3>
      <ol class="microposts list-unstyled">
        <li *ngFor="let micropost of microposts; let i = index" class="mb-3">
          <a [routerLink]="['/users', user?.id]" class="text-decoration-none">
            <img
              class="gravatar"
              [src]="'https://secure.gravatar.com/avatar/' + micropost.gravatar_id + '?s=50'"
              [alt]="user?.name"
              width="50"
              height="50"
            />
          </a>
          <span class="user">
            <a [routerLink]="['/users', micropost.user_id]" class="text-decoration-none">
              {{ user?.name }}
            </a>
          </span>
          <span class="content">
            {{ micropost.content }}
            <ng-container *ngIf="micropost.image">
              <img [src]="micropost.image" alt="Micropost Image" width="50" height="50" />
            </ng-container>
          </span>
          <span class="timestamp">
            Posted {{ micropost.timestamp }} ago.
            <ng-container *ngIf="currentUser.value?.id === micropost.user_id">
              <a href="#" class="text-decoration-none" (click)="removeMicropost(micropost.id, $event)">
                delete
              </a>
            </ng-container>
          </span>
        </li>
      </ol>
    </ng-container>
  </div>
</div>
