<h1>All users</h1>

<!-- <mat-paginator [length]="total_count" [pageSize]="5" (page)="handlePageChange($event)"></mat-paginator> -->

<ul class="list-group users">
  <li *ngFor="let user of users; let i = index" class="list-group-item d-flex align-items-center">
    <img [src]="'https://secure.gravatar.com/avatar/' + user.gravatar_id + '?s=' + user.size" [alt]="user.name" [width]="user.size" [height]="user.size" class="gravatar rounded-circle me-3">
    <a [routerLink]="['/users', user.id]">{{ user.name }}</a>
    <span class="ms-auto" *ngIf="(currentUser$ | async) as currentUser">
      <a *ngIf="currentUser && currentUser.admin === 'admin' && currentUser.id !== user.id" href="#" (click)="removeUser(i, user.id)" class="btn btn-link text-danger">delete</a>
    </span>
  </li>
</ul>

<!-- <mat-paginator [length]="total_count" [pageSize]="5" (page)="handlePageChange($event)"></mat-paginator> -->
