<ng-container>
  <footer className="footer mt-auto py-3 bg-light">
    <div className="container text-center">
      <small>
        The <a routerLink="https://angular.dev/" target="_blank" rel="noopener noreferrer">Angular Tutorial</a> by <a routerLink="https://github.com/maearon" target="_blank" rel="noopener noreferrer">maearon</a>
      </small>
      <nav className="mt-3">
        <ul className="list-inline">
          <li className="list-inline-item"><a routerLink="/about">About</a></li>
          <li className="list-inline-item"><a routerLink="/contact">Contact</a></li>
          <li className="list-inline-item"><a routerLink="https://angular.dev/blog" target="_blank" rel="noopener noreferrer">News</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</ng-container>
